body {
    margin: 0;
    padding: 0;
}

.div1 {
    background-color: rgb(53, 99, 115);
    height: 92vh;
    text-align: center;
}

.backButt {
    position: absolute;
    height: 5vh;
    width: 6vw;
    border-radius: 10px;
    top: 9vh;
    left: 1vh;
}

.div2 {
    width: 30vw;
    height: 65vh;
    left: 50vw;
    top: 15vh;
    background-color: gray;
    position: absolute;
    border: 3px solid black;
}

.nameLabel {
    position: absolute;
    top: 20vh;
    font-weight: bold;
    color: rgb(206, 206, 206);
    font-size: 1.5em;
    left: 5vw;
}

.nameInput {
    left: 5vw;
    position: absolute;
    height: 3vh;
    width: 15vw;
    border-radius: 10px;
    top: 25vh;
}

.sensorRadio {
    position: absolute;
    left: 5vw;
    top: 40vh;
}

.sensorLabel {
    position: absolute;
    left: 7vw;
    top: 39vh;
    font-weight: bold;
    color: rgb(206, 206, 206);
    font-size: 1.5em;
}

.actuatorRadio {
    position: absolute;
    left: 5vw;
    top: 45vh;
}

.actuatorLabel {
    position: absolute;
    left: 7vw;
    top: 44vh;
    font-weight: bold;
    color: rgb(206, 206, 206);
    font-size: 1.5em;
}

.componentSelect {
    position: absolute;
    left: 5vw;
    top: 60vh;
    width: 10vw;
}

.componentLabel {
    position: absolute;
    left: 5vw;
    top: 55vh;
    font-weight: bold;
    color: rgb(206, 206, 206);
    font-size: 1.5em;
}

.startInput {
    position: absolute;
    top: 70vh;
    width: 10vw;
    left: 5vw;
    border-radius: 10px;
}

.startLabel {
    position: absolute;
    font-weight: bold;
    color: rgb(206, 206, 206);
    font-size: 1.5em;
    top: 74vh;
    left: 5vw;
}

.durationInput {
    position: absolute;
    top: 70vh;
    width: 10vw;
    left: 25vw;
    border-radius: 10px;
}

.durationLabel {
    position: absolute;
    font-weight: bold;
    color: rgb(206, 206, 206);
    font-size: 1.5em;
    top: 74vh;
    left: 25vw;
}

.confirmButt {
    height: 6vh;
    width: 8vw;
    border-radius: 10px;
    font-weight: bold;
    position: absolute;
    left: 91vw;
    top: 93vh;
}

.deleteButt {
    height: 6vh;
    width: 8vw;
    border-radius: 10px;
    font-weight: bold;
    color: red;
    position: absolute;
    left: 6px;
    top: 93vh;
}

.discardButt {
    height: 6vh;
    width: 8vw;
    border-radius: 10px;
    font-weight: bold;
    position: absolute;
    left: 6px;
    top: 93vh;
}

.errorMsg {
    color: red;
    font-weight: bold;
}

.functionLabel {
    position: absolute;
    left: 25vw;
    top: 55vh;
    font-weight: bold;
    color: rgb(206, 206, 206);
    font-size: 1.5em;
}
.functionSelect {
    position: absolute;
    left: 25vw;
    top: 60vh;
    width: 10vw;
}

.singleVarDiv {
    height: 7vh;
    border-bottom: 3px solid black;
}
