body {
    margin: 0;
    padding: 0;
}

.div1 {
    background-color: rgb(53, 99, 115);
    height: 92vh;
    text-align: center;
}

.inputName {
    height: 3vh;
    width: 15vw;
    border-radius: 10px;
}

.nameLabel {
    font-weight: bold;
    color: rgb(206, 206, 206);
    font-size: 1.5em;
}

.div2 {
    width: 70vw;
    height: 49vh;
    background-color: rgb(46, 131, 160);
    position: absolute;
    left: 15vw;
    top: 23vh;
    border: 2px solid black;
    row-gap: 20px;

    overflow-y:scroll;
    white-space: nowrap;
}

.div3 {
    width: 70vw;
    height: 18vh;
    background-color: rgb(46, 131, 160);
    position: absolute;
    left: 15vw;
    top: 75vh;
    border: 2px solid black;

    overflow-x:scroll;
    white-space: nowrap;
}

.backButt {
    position: absolute;
    height: 5vh;
    width: 6vw;
    border-radius: 10px;
    top: 9vh;
    left: 1vh;
    font-weight: bold;
}

.addEvtButt {
    position: absolute;
    height: 6vh;
    width: 7vw;
    border-radius: 10px;
    top: 68vh;
    left: 87vw;
    font-weight: bold;
    font-size: 15px;
}

.confirmButt {
    height: 6vh;
    width: 8vw;
    border-radius: 10px;
    font-weight: bold;
    position: absolute;
    left: 91vw;
    top: 93vh;
}

.deleteButt {
    height: 6vh;
    width: 8vw;
    border-radius: 10px;
    font-weight: bold;
    color: red;
    position: absolute;
    left: 6px;
    top: 93vh;
}

.discardButt {
    height: 6vh;
    width: 8vw;
    border-radius: 10px;
    font-weight: bold;
    position: absolute;
    left: 6px;
    top: 93vh;
}

.div4 {
    width: 10vw;
    height: 55vh;
    background-color: rgb(46, 131, 160);
    position: absolute;
    left: 0;
    top: 30vh;
    border: 2px solid black;
    row-gap: 20px;

    overflow-y:scroll;
    white-space: nowrap;
}

.addAlrmButt {
    position: absolute;
    height: 5vh;
    width: 7vw;
    border-radius: 10px;
    top: 23vh;
    left: 1.5vw;
    font-weight: bold;
    font-size: 15px;
}