body {
    margin: 0;
    padding: 0;
}

.div1 {
    background-color: rgb(53, 99, 115);
    height: 92vh;
}

.div2 {
    position: absolute;
    height: 60vh;
    width: 40vw;
    top: 20vh;
    left: 50vw;
    background-color: rgb(196, 196, 196);
}

.div1 label {
    position: absolute;
    color: rgb(206, 206, 206);
    font-weight: bold;
    font-size: 1.5em;
    left: 10vw;
}

.div1 input {
    position: absolute;
    border-radius: 10px;
    width: 12vw;
    height: 3vh;
    left: 10vw;
}

.div1 select {
    position: absolute;
    left: 10vw;
    width: 12vw;
}

.formModule {
    position: absolute;
    top: 20vh;
    left: 10vw;
}

.backButt {
    height: 5vh;
    width: 6vw;
    border-radius: 10px;
    margin: 1vh;
}