body {
    margin: 0;
    padding: 0;
}

.div1 {
    background-color: rgb(53, 99, 115);
    height: 92vh;
}

.div2 {
    position: absolute;
    height: 60vh;
    width: 40vw;
    top: 20vh;
    left: 50vw;
    background-color: rgb(196, 196, 196);
    border: 2px solid black;
}

.inputLabel {
    position: absolute;
    color: rgb(206, 206, 206);
    font-weight: bold;
    font-size: 1.5em;
    left: 10vw;
}

.dataInput {
    position: absolute;
    border-radius: 10px;
    width: 12vw;
    height: 3vh;
    left: 10vw;
}

.modelSelect {
    position: absolute;
    left: 10vw;
    width: 12vw;
}

.formModule {
    position: absolute;
    top: 20vh;
    left: 10vw;
}

.backButt {
    height: 6vh;
    width: 8vw;
    border-radius: 10px;
    font-weight: bold;
    margin: 6px;
    position: absolute;
    left: -10vw;
    top: -12vh;
}

.discardButt {
    height: 6vh;
    width: 8vw;
    border-radius: 10px;
    font-weight: bold;
    position: absolute;
    left: 6px;
    top: 93vh;
}

.confirmButt {
    height: 6vh;
    width: 8vw;
    border-radius: 10px;
    font-weight: bold;
    position: absolute;
    left: 81vw;
    top: 73vh;
}

.deleteButt {
    height: 6vh;
    width: 8vw;
    border-radius: 10px;
    font-weight: bold;
    color: red;
    position: absolute;
    left: 6px;
    top: 93vh;
}