body {
    margin: 0;
    padding: 0;
}

.div1{
    background-color: rgb(108, 140, 151);
    margin: 0;
    padding: 0;
    height: 8vh;
}

.registerButton {
    position: absolute;

    width: 100px;
    height: 30px;

    margin: 1.8vh;
    border-radius: 10px;

}

.div2 {
    text-align: center;
    background-color: rgb(53, 99, 115);
    height: 84vh;
    position: relative;
}

.loginButton {
    height: 30px;
    width: 100px;
    border-radius: 10px;
}

.loginInput {
    border-radius: 10px;
    width: 10%;
    height: 10%;
}

.loginLabel {
    color: rgb(206, 206, 206);
    font-weight: bold;
    font-size: 1.5em;
}

svg {
    height: 280px;
    top: 30px;
}

.div3 {
    background-color: rgb(108, 140, 151);
    margin: 0;
    padding: 0;
    height: 8vh;
}

.errorMsg {
    color: rgb(255, 63, 63);
    font-size: 1em;
    font-weight: bold;
}
