body {
    margin: 0;
    padding: 0;
}

.div1 {
    background-color: rgb(53, 99, 115);
    height: 92vh;
}

.reacIconButton {
    position: absolute;
    width: 15vw;
    height: 45vh;
    background-color: white;
    top: 20vh;
    left: 15vw;
    background: url(../pictures/chooseImageIcon.jpg);
}

.nameInput {
    position: absolute;
    border-radius: 10px;
    width: 10vw;
    height: 2vh;
    top: 67vh;
    left: 19vw;
}

.nameLabel {
    position: absolute;
    top: 67vh;
    left: 15vw;
    font-weight: bold;
    color: white;
}

.compModule {
    background-color: rgb(107, 107, 107);
    height: 29.7vh;
    width: 45.5vw;
    position: absolute;
    top: 20vh;
    left: 40vw;
}

.addSensButt {
    position: absolute;
    height: 8vh;
    width: 8vh;
    margin: 1vh;
    border-radius: 7px;
    font-size: 25px;
    top: 3.5vh;
}

.sensorsLabel {
    position: absolute;
    color: rgb(228, 228, 228);
    font-weight: bold;
    left: 9px;
    top: 3px;
    font-size: 14px;
}

.addActuButt {
    position: absolute;
    height: 8vh;
    width: 8vh;
    margin: 1vh;
    top: 20.5vh;
    border-radius: 7px;
    font-size: 25px;
}

.actuatorsLabel {
    position: absolute;
    color: rgb(228, 228, 228);
    font-weight: bold;
    left: 2px;
    top: 115px;
    font-size: 14px;
}

.addAlarButt {
    position: absolute;
    height: 8vh;
    width: 8vh;
    margin: 1vh;
    top: 37.5vh;
    border-radius: 7px;
    font-size: 25px;
}

.alarmsLabel {
    position: absolute;
    color: rgb(228, 228, 228);
    font-weight: bold;
    left: 10px;
    top: 230px;
    font-size: 14px;
}

.sensList {
    position: absolute;
    height: 12vh;
    width: 40.35vw;
    background-color: rgb(46, 131, 160);
    left: 10vh;
    border: 2px solid black;

    overflow: auto;
    white-space: nowrap;
}

.actuList {
    position: absolute;
    height: 12vh;
    width: 40.35vw;
    background-color: rgb(46, 131, 160);
    left: 10vh;
    top: 17vh;
    border: 2px solid black;

    overflow: auto;
    white-space: nowrap;
}

.alarList {
    position: absolute;
    height: 12vh;
    width: 40.35vw;
    background-color: rgb(46, 131, 160);
    left: 10vh;
    top: 34vh;
    border: 2px solid black;
}

.routineModule {
    background-color: rgb(107, 107, 107);
    height: 20vh;
    width: 100vw;
    position: absolute;
    top: 80vh;
}

.addRoutButt {
    position: absolute;
    height: 18vh;
    width: 18vh;
    margin: 1vh;
    border-radius: 8px;
    font-size: 50px;
}

.routList {
    position: absolute;
    height: 18vh;
    width: 89vw;
    background-color: rgb(46, 131, 160);
    margin: 1vh;
    left: 20vh;
    border: 2px solid black;

    overflow: auto;
    white-space: nowrap;
}

.backButt {
    height: 6vh;
    width: 8vw;
    border-radius: 10px;
    font-weight: bold;
    margin: 6px;
}

.confirmButt {
    height: 6vh;
    width: 8vw;
    border-radius: 10px;
    font-weight: bold;
    position: absolute;
    right: 6px;
    top: 73vh;
}

.discardButt {
    height: 6vh;
    width: 8vw;
    border-radius: 10px;
    font-weight: bold;
    position: absolute;
    left: 6px;
    top: 73vh;
}

.deleteButt {
    height: 6vh;
    width: 8vw;
    border-radius: 10px;
    font-weight: bold;
    color: red;
    position: absolute;
    left: 6px;
    top: 73vh;
}