body {
    padding: 0;
    margin: 0;
}

.div1 {
    background-color: rgb(53, 99, 115);
    height: 92vh;
}

.div2 {
    position: absolute;
    background-color: rgb(211, 211, 211);
    height: 40vh;
    width: 40vw;
    top: 30vh;
    left: 2vw;
    border: 3px solid black;
}

.reactorLabel {
    color: white;
    font-weight: bold;
    font-size: 25px;
    position: absolute;
    left: 46vw;
    top: 9vh;
}

.reactorSelect {
    width: 8vw;
    height: 25px;
    position: absolute;
    left: 50vw;
    top: 9vh;
}

.hdButton {
    font-weight: bold;
    font-size: 15px;
    border-radius: 10px;
    height: 30px;
    position: absolute;
    top: 25vh;
    left: 2vw;
}

.ldButton {
    font-weight: bold;
    font-size: 15px;
    border-radius: 10px;
    height: 30px;
    position: absolute;
    top: 25vh;
    left: 50vw;
}

.erButton {
    font-weight: bold;
    font-size: 15px;
    border-radius: 10px;
    height: 30px;
    position: absolute;
    right: 0.5vw;
    top: 94.5vh;
}

.div3 {
    position: absolute;
    background-color: rgb(211, 211, 211);
    height: 10vh;
    width: 40vw;
    top: 71vh;
    border: 3px solid black;
    left: 2vw;

    overflow: auto;
    white-space: nowrap;
}

.div4 {
    position: absolute;
    background-color: rgb(66, 66, 66);
    height: 40vh;
    width: 40vw;
    left: 50vw;
    top: 30vh;
    border: 3px solid black;
    overflow: auto;
    white-space: nowrap;
}

.backButt {
    height: 6vh;
    width: 8vw;
    border-radius: 10px;
    font-weight: bolder;
    font-size: 15px;
    margin: 6px;
}

.deleteButt {
    height: 30px;
    border-radius: 10px;
    font-weight: bold;
    color: red;
    position: absolute;
    left: 6px;
    top: 94.5vh;
}

.activationButt {
    position: absolute;
    height: 6vh;
    width: 9vw;
    border-radius: 10px;
    font-weight: bolder;
    margin: 6px;
    top: 8vh;
    left: 90vw;
}

.activeStatus {
    position: absolute;
    color: white;
    left: 47vw;
    top: 13vh;
}

.activeRoutineSelect {
    position: absolute;
    width: 9vw;
    left: 90.5vw;
    top: 16vh;
}

.pauseButt {
    position: absolute;
    height: 5.5vh;
    width: 8vw;
    border-radius: 10px;
    font-weight: bolder;
    margin: 6px;
    top: 8vh;
    left: 81vw;
}

.div5 {
    position: absolute;
    background-color: rgb(211, 211, 211);
    height: 10vh;
    width: 40vw;
    top: 71vh;
    border: 3px solid black;
    left: 50vw;

    overflow: auto;
    white-space: nowrap;
}