<style>
    .actuButton {
        width: 6vw;
        height: 4vw;
        background-color: white;
    }

    .hyperLinkActuator {
        display: inline-block;
        width: 6vw;
        height: 4vw;
        margin: 0.3vw;
    }

</style>
<a href=<%= "/editActuator?_id=" + _id + "&reacId=" + reacId + "&actuId=" + actuator._id%> class="hyperLinkActuator">
    <button class="actuButton" type="button"><%= actuator.name %></button>
</a>