<style>
    .alrmButton {
        width: 7vw;
        height: 4vw;
        background-color: white;
    }

    .hyperLinkAlrm {
        display: block;
        width: 7vw;
        height: 4vw;
        margin: 1vh;
    }

</style>
<a href=<%= "/api/alarm/editAlarm?_id=" + _id + "&reacId=" + reacId + "&routId=" + routId + "&alrmId=" + alarm._id%> class="hyperLinkAlrm">
    <button class="alrmButton" type="button"><%= alarm.title %>Alarm 1</button>
</a>