<style>
    .evntButton {
        width: 12vw;
        height: 6vh;
        background-color: white;
    }

    .hyperLinkEvnt {
        display: inline-block;
        height: 6vh;
        position: absolute;
        left: 0vh;
        margin-top: 1vh;
        margin-bottom: 1vh;
    }

    .dynEvntDiv {
        display:flex;
        width: 68.8vw;
        height: 8vh;
        margin: 0;
        padding: 0;
        border-bottom: 1px solid rgb(71, 71, 71);
    }
</style>
<div class="dynEvntDiv">
    <a style=<%= "left:" + event.relativeStart + "vw; width:" + event.relativeDuration + "vh;" %> href="<%= "/editEvent?_id=" + _id + "&reacId=" + reacId + "&evntId=" + event._id + "&routId=" + routId%>" class="hyperLinkEvnt">
        <button class="evntButton" type="button" style=<%= "width:" + event.relativeDuration + "vh;" %>><%= event.name %></button>
    </a>
</div>