<style>
    .reacButton {
        width: 15vw;
        height: 45vh;
        background-color: white;
        left: 10vw;
    }

    .hyperLink {
        display: inline-block;
        width: 15vw;
        height: 45vh;
        margin: 1vw;
    }
</style>
<a href="/api/reactor/reacView?_id=<%= user._id %>&reacId=<%= reactor._id %>" class="hyperLink">
    <button class="reacButton"><%= user.username  %></button>
</a>