<style>
    .reacButton {
        width: 15vw;
        height: 45vh;
        background-color: white;
        margin: 1vw;
    }
</style>
<a href="/editReac?_id=<%= _id %>&reacId=<%= reacId %>">
    <button class="reacButton"><%= name  %></button>
</a>