<style>
    .sensButton {
        width: 6vw;
        height: 4vw;
        background-color: white;
    }

    .hyperLinkSensor {
        display: inline-block;
        width: 6vw;
        height: 4vw;
        margin: 0.3vw;
    }

</style>
<a href=<%= "/api/sensor/editSensor?_id=" + _id + "&reacId=" + reacId + "&sensId=" + sensor._id%> class="hyperLinkSensor">
    <button class="sensButton" type="button"><%= sensor.name %></button>
</a>