<style>
    .sensButton {
        width: 6vw;
        height: 4vw;
        margin: 4px;
        background-color: white;
    }

</style>
<a href=<%= "/editSensor?_id=" + _id + "&reacId=" + reacId + "&sensId=" + sensor._id%>>
    <button class="sensButton" type="button"><%= sensor.name %></button>
</a>