<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="/styles/addActPageStyles.css">
        <link rel="icon" href="./pictures/logo.ico" type="image/x-icon">
        <title> Add Action </title>
    </head>
    <body>
        <%- include('./partials/nav.ejs') %>
        <div class="div1">
            <button class="backButt">Back</button>
            <label for="" class="nameLabel">Name</label>
            <input type="text" name="" id="" class="nameInput">

            <label for="" class="sensorLabel">Sensor</label>
            <input type="radio" name="type" id="" class="sensorRadio">
            <label for="" class="actuatorLabel">Actuator</label>
            <input type="radio" name="type" id="" class="actuatorRadio">

            <label for="" class="componentLabel">Chosen component:</label>
            <select name="" id="" class="componentSelect">

            </select>

            <label for="" class="startLabel">Start</label>
            <input type="number" name="" id="" class="startInput">
            <label for="" class="durationLabel">Duration</label>
            <input type="number" name="" id="" class="durationInput">

            <div class="div2">

            </div>
        </div>
    </body>
</html>