<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="/styles/addAlarPageStyles.css">
        <link rel="icon" href="./pictures/logo.ico" type="image/x-icon">
        <title> Add Alarm </title>
    </head>
    <body>
        <%- include('./partials/nav.ejs') %>
        <div class="div1">
            <label for="" class="varLabel">Variable</label>
            <input type="radio" name="type" id="" class="varRadio">

            <label for="" class="evtLabel">Event</label>
            <input type="radio" name="type" id="" class="evtRadio">

            <label for="" class="rotLabel">Routine</label>
            <input type="radio" name="type" id="" class="rotRadio">

            <label for="" class="actLabel">Action</label>
            <input type="radio" name="type" id="" class="actRadio">

            <label for="" class="limitLabel">When?</label>
            <input type="number" name="" id="" class="limitInput">
        </div>
    </body>
</html>