<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="/styles/addEvtPageStyles.css">
        <link rel="icon" href="./pictures/logo.ico" type="image/x-icon">
        <title> Add Event </title>
        <body>
            <%- include('./partials/nav.ejs') %>
            <div class="div1">
                <button class="backButt">Back</button>
                <label for="" class="nameLabel">Name</label>
                <input type="text" name="" id="" class="nameInput">
                <br><br>
                <label for="" class="normalLabel">Normal</label>
                <input type="radio" name="type" id="" class="normalRadio">
                <label for="" class="esporadicLabel">Esporadic</label>
                <input type="radio" name="type" id="" class="esporadicRadio">

                <div class="div2">

                </div>
                <input type="number" name="" id="" class="startInput">
                <label for="" class="startLabel">Start</label>

                <input type="number" name="" id="" class="durationInput">
                <label for="" class="durationLabel">Duration</label>
                <button class="addActionButt">Add Action</button>
            </div>
        </body>
    </head>
</html>