<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="/styles/addReacPageStyles.css">
        <link rel="icon" href="./pictures/logo.ico" type="image/x-icon">
        <title> Add Reactor </title>

        <script>
            function tryDiscard() {
                console.log("FAZER");                
            }
        </script>
    </head>
    <body>
        <%- include('./partials/nav.ejs', {name: username}) %>
        <div class="div1">
            <!-- <form action="/saveEdit" method="post">
                <button class="backButt">Back</button>
            </form> -->

            <button class="reacIconButton"></button>

            <form action="/createOrSave" method="post">
                <label for="username" class="nameLabel">Name:</label>
                <input type="text" id="name" name="name" class="nameInput" value="<%= reac.name %>">
                <input type="hidden" id="_id" name="_id" value="<%= _id  %>">
                <input type="hidden" id="reacId" name="reacId" value="<%= reac._id %>">
                <button class="confirmButt" name="type" value="create">Create Reactor</button>
                <button class="backButt" name="type" value="save">Back</button>
            </form>

            <% if (!reac.isEdit) { %>
                <form action="/discardReac" method="post">
                    <button class="deleteButt" onclick="tryDiscard()">Delete Reactor</button>
                </form>
            <% } %>

            <form action="/discardNewReacEdit" method="post">
                <button class="discardButt" onclick="tryDiscard()">Discard Edit</button>
            </form>
        </div>
        <div class="compModule">
            <button class="addSensButt"></button>
            <div class="sensList"></div>

            <button class="addActuButt"></button>
            <div class="actuList"></div>

            <button class="addAlarButt"></button>
            <div class="alarList"></div>
        </div>
        <div class="routineModule">
            <button class="addRoutButt"></button>
            <div class="routList"></div>
        </div>
        
    </body>
</html>