<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="/styles/addReacPageStyles.css">
        <link rel="icon" href="./pictures/logo.ico" type="image/x-icon">
        <title> Add Reactor </title>
    </head>
    <body>
        <%- include('./partials/nav.ejs', {name: user.username}) %>
        <div class="div1">
            <form action="/start" method="post">
                <button class="backButt">Back</button>
                <input type="hidden" id="id" name="id" value=<%=user._id%>>
                <input type="hidden" id="type" name="type" value="in">
            </form>
            <button class="reacIconButton"></button>
            <form action="/start" method="post">
                <label for="username" class="nameLabel">Name:</label>
                <input type="text" id="name" name="name" class="nameInput">
                <input type="hidden" id="id" name="id" value=<%=user._id%>>
                <input type="hidden" id="type" name="type" value="addReac">
                <button class="confirmButt">Save</button>
            </form>
            <button class="discardButt">Discard</button>
        </div>
        <div class="compModule">
            <button class="addSensButt"></button>
            <div class="sensList"></div>

            <button class="addActuButt"></button>
            <div class="actuList"></div>

            <button class="addAlarButt"></button>
            <div class="alarList"></div>
        </div>
        <div class="routineModule">
            <button class="addRoutButt"></button>
            <div class="routList"></div>
        </div>
        
    </body>
</html>