<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="/styles/addSensStyles.css">
        <link rel="icon" href="./pictures/logo.ico" type="image/x-icon">
        <title> Add Sensor </title>
    </head>
    <body>
        <%- include('./partials/nav.ejs', {name: username}) %>
        <div class="div1">
            <button class="backButt">Back</button>
            <div class="formModule">
                <form action="">
                    <label for="" class="inputLabel">Name</label>
                    <br><br>
                    <input type="text" class="dataInput">
                    <br><br><br>
                    <label for="" class="inputLabel">Exit</label>
                    <br><br>
                    <input type="text" class="dataInput">
                    <br><br><br>
                    <label for="" class="inputLabel">Model</label>
                    <br><br>
                    <select name="" id="" class="modelSelect"></select>
                </form>
            </div>
            <div class="div2">
            </div>
            <button class="deleteButt">Delete Sensor</button>
            <button class="discardButt">Discard Edit</button>
            <button class="confirmButt" name="type" value="concrete">Save Changes</button>
        </div>
    </body>
</html>