<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="/styles/addSensStyles.css">
        <link rel="icon" href="./pictures/logo.ico" type="image/x-icon">
        <title> Add Sensor </title>
    </head>
    <body>
        <%- include('./partials/nav.ejs') %>
        <div class="div1">
            <button class="backButt">Back</button>
            <div class="formModule">
                <form action="">
                    <label for="">Name</label>
                    <br><br>
                    <input type="text">
                    <br><br><br>
                    <label for="">Exit</label>
                    <br><br>
                    <input type="text">
                    <br><br><br>
                    <label for="">Model</label>
                    <br><br>
                    <select name="" id=""></select>
                </form>
            </div>
            <div class="div2">
            </div>
        </div>
    </body>
</html>