<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="/styles/addReacPageStyles.css">
        <link rel="icon" href="./pictures/logo.ico" type="image/x-icon">
        <title> Add Reactor </title>

    </head>
    <body>
        <%- include('./partials/nav.ejs', {name: username}) %>
        <div class="div1">

            <button class="reacIconButton"></button>

            <form action="/createOrSave" method="post">
                <label for="newReacName" class="nameLabel">Name:</label>
                <input type="text" class="nameInput" id="newReacName" name="newReacName" value=<%= edit.name %>>

                <input type="hidden" id="_id" name="_id" value=<%= _id %>>

                <% if (mode === "creation") { %>
                    <button class="confirmButt" name="type" value="create">Create Reactor</button>
                <% } else { %>
                    <button class="confirmButt" name="type" value="concrete">Concrete Changes</button>
                <% } %>

                <button class="backButt" name="type" value="saveBack">Back</button>

                <div class="compModule">
                    <button class="addSensButt" name="type" value="saveRedSensors">+</button>
                    <div class="sensList"></div>
        
                    <button class="addActuButt" name="type" value="saveRedActuators"></button>
                    <div class="actuList"></div>
                </div>
            </form>

            <% if (!(mode === "creation")) { %>
                <form action="/deleteReac" method="post">
                    <button class="deleteButt">Delete Reactor</button>
                </form>
            <% } %>

            <form action="/dicardEdit" method="post">
                <% if ((mode === "creation")) { %>
                    <button class="discardButt">Discard Edit</button>
                <% } else { %>
                    <button class="discardButt">Discard Edit</button>
                <% } %>
            </form>
        </div>

        <div class="routineModule">
            <button class="addRoutButt"></button>
            <div class="routList"></div>
        </div>
        
    </body>
</html>