<!DOCTYPE html>
<html lang="en">
    <head>
        <title> Login Page </title>
    </head>
    <body>
        <div>
            <button>Register</button>
            <br>
        </div>
        <div>
            <form>
                <label for="username">Username:</label>
                <input type="text" id="username" name="username">
                <br>
                <br>
                <label for="password">Password:</label>
                <input type="password" id="password">
                <select name="nome" id="nome"></select>
            </form>
            <button>Login</button>
            <br>
            <br>
            <input type="submit" value="AAAAAA">
        </div>
    </body>
</html>