<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="styles.css">
        <title> Login Page </title>
    </head>
    <body>
        <div class="div1">
            <button class="registerButton">Register</button>
            <br>
        </div>
        <div class="div2">
            <form class="form">
                <label for="username">Username</label>
                <br>
                <input type="text" id="username" name="username">
                <br><br>
                <label for="password">Password</label>
                <br>
                <input type="password" id="password">
                <br><br>
                <button class="classe">Login</button>
            </form>
            <img src="Screenshot_6.png" alt="">
        </div>
    </body>
</html>