<html lang="en">
    <head>
        <link rel="stylesheet" href="/styles/registerPageStyles.css">
        <link rel="icon" href="./pictures/logo.ico" type="image/x-icon">
        <title> Resgister </title>
    </head>
    <body>
        <div class="div1">
            <a href="/">
                <button class="loginButton">Login</button>
            </a>
        </div>
        <div class="div2">
            <br><br><br><br><br><br><br>
            <form action="/register" method="post">
                <label for="">Username</label>
                <br>
                <input type="username" name="username" id="usernameInput">
                <br> <br>
    
                <label for="">Password</label>
                <br>
                <input type="password" name="password" id="password1Input">
                <br> <br>
    
                <label for="">Repeat Password</label>
                <br>
                <input type="password" name="password2" id="password2Input">
                <% if (mode === 'passwordMistake') {%>
                    <br><br>
                    <label class="errorMsg">The passwords didn't match</label>
                <% } else if (mode === 'usernameTaken') { %>
                    <br><br>
                    <label class="errorMsg">Username already taken</label>
                    <% } %>
                <button class="createButt">Create Account</button>
            </form>
        </div>
    </body>
</html>