<html lang="en">
    <head>
        <link rel="stylesheet" href="/styles/registerPageStyles.css">
        <link rel="icon" href="./pictures/logo.ico" type="image/x-icon">
        <title> Resgister </title>
    </head>
    <body>
        <div class="div1">
            <a href="/">
                <button class="loginButton">Login</button>
            </a>
        </div>
        <div class="div2">
            <br><br><br><br><br><br><br>
            <form action="/tryRegister" method="post">
                <label for="username" class="registerLabel">Username</label>
                <br>
                <input type="text" name="username" id="username" class="registerInput">
                <br><br>
    
                <label for="repeatUsername" class="registerLabel">Repeat Username</label>
                <br>
                <input type="text" name="repeatUsername" id="repeatUsername" class="registerInput">
                <br><br>
                
                <label for="email" class="registerLabel">E-mail</label>
                <br>
                <input type="email" name="email" id="email" class="registerInput" disabled>
                <br><br>

                <% if (mode === "matchError") {%>
                    <label class="errorMsg">Usernames dont't match</label>
                <% } else if (mode === "takenError") { %>
                    <label class="errorMsg">Username already taken</label>
                <% } %>

                <button class="createButt">Create Account</button>
            </form>
        </div>
    </body>
</html>