<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="/styles/addRoutPageStyles.css">
        <link rel="icon" href="./pictures/logo.ico" type="image/x-icon">
        <title> Add Routine </title>
    </head>
    <body>
        <%- include('./partials/nav.ejs', {name: username}) %>
        <div class="div1">
            <button class="backButt">Back</button>
            <br>
            <label for="" class="nameLabel">Name</label>
            <br>
            <input type="text" name="" id="" class="inputName">
            <div class="div2">
                
            </div>
            <button class="addEvtButt">Add Event</button>
            <div class="div3">

            </div>
        </div>
    </body>
</html>