<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="/styles/startPageStyles.css">
        <link rel="icon" href="./pictures/logo.ico" type="image/x-icon">
        <title> Start </title>
    </head>
    <body>
        <%- include('./partials/nav.ejs', {name: username, _id: _id}) %>
        <div class="div1">
            <div class="div2">
                <% for (let i = 0; i < reactors.length; i++) { %>
                    <%- include('./partials/reacButton.ejs', {name: reactors[i].name, reacId: reactors[i]._id}) %>
                <% } %>
            </div>
            <a href="/addReac?_id=<%= _id %>">
                <button class="addReacButton">Add Reactor</button>
            </a>
        </div>
    </body>
</html> 