<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="/styles/startPageStyles.css">
        <link rel="icon" href="./pictures/logo.ico" type="image/x-icon">
        <title> Start </title>
    </head>
    <body>
        <%- include('./partials/nav.ejs', {name: username}) %>
        <div class="div1">
            <div class="div2">
                <% for (let i = 0; i < reactors.length; i++) { %>
                    <%- include('./partials/reacButton.ejs') %>
                <% } %>
            </div>
            <form action="/addReac" method="post">
                <button class="addReacButton" id="addReacButton">Add Reactor</button>
                <input type="text" id="id" name="id" class="infoHolder" value=<%=_id%>>
            </form>
        </div>
    </body>
</html> 