<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="/styles/startPageStyles.css">
        <link rel="icon" href="./pictures/logo.ico" type="image/x-icon">
        <title> Start </title>
    </head>
    <body>
        <%- include('./partials/nav.ejs') %>
        <div class="div2">

        </div>
    </body>
</html> 