<html lang="en">
    <head>
        <link rel="stylesheet" href="/styles/startPageStyles.css">
        <link rel="icon" href="../../pictures/logo.ico" type="image/x-icon">
        <title> Start </title>
    </head>
    <body>
        <%- include('./partials/nav.ejs', {name: user.username, _id: user._id}) %>
        <div class="div1">
            <div class="div2">
                <% for (let i = 0; i < reactors.length; i++) { %>
                    <%- include('./partials/reacButton.ejs', {reactor: reactors[i], user: user}) %>
                <% } %>
            </div>
            <a href="/api/reactor/editReactor?_id=<%= user._id + "&reactorId=" + user.creationReactor%>">
                <button class="addReacButton">Add Reactor</button>
            </a>
        </div>
    </body>
</html> 