<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="/styles/startPageStyles.css">
        <link rel="icon" href="./pictures/logo.ico" type="image/x-icon">
        <title> Start </title>
    </head>
    <body>
        <%- include('./partials/nav.ejs') %>
        <div class="div1">
            <div class="div2">
                <% for (let i = 0; i < 5; i++) { %>
                    <%- include('./partials/reacButton.ejs') %>
                <% } %>
            </div>
            <button class="addReacButton">Add Reactor</button>
        </div>
    </body>
</html> 