<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="/styles/startPageStyles.css">
        <link rel="icon" href="./pictures/logo.ico" type="image/x-icon">
        <title> Start </title>
    </head>
    <body>
        <!-- <label for=""><%= user.username %></label> -->
        <%- include('./partials/nav.ejs') %>
        <div class="div1">
            <div class="div2">
                <% for (let i = 0; i < user.reactors.length; i++) { %>
                    <%- include('./partials/reacButton.ejs') %>
                <% } %>
            </div>
            <!-- <a href="/addReac">
                <button class="addReacButton">Add Reactor</button>
            </a> -->
            <form action="/addReac" method="post">
                <button class="addReacButton" id="addReacButton">Add Reactor</button>
                <input type="text" value=<%= user.username%> name="user">
            </form>
        </div>
    </body>
</html> 